
/*******************************************
Element Selectors
*******************************************/

* {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h3  {
  font-size: 50px:
}

p {
  line-height: 1.5;
  font-size: 15px;
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
  /*margin-left: 10px;
  margin-right: 10px;*/
  padding-top: 10px;
  padding-left: 10px;
  /*padding-right: 10px;*/
  padding-bottom: 10px;
  font-size: 20px;
  background-color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/*******************************************
Descendant Selectors
*******************************************/

h1,
h2,
h3,
h4,
li {
  font-family: 'Freckle Face', cursive;
}

h2,
a {
  text-transform: uppercase;
}

main div {
  margin-top: 25px;
}

/*******************************************
Class Selectors
*******************************************/

.main-header {
  margin-bottom: 40px;

  overflow: auto;
}

.banner-top {
}

.name {
  margin-top: 0;
}

.main-nav {
  /*margin-top: 20px;*/
  /*overflow: auto;*/
}

/*.main-nav li {
  float: right;
}*/

.profile-image {
  max-width: 100%;
  /*margin-top: 30px;*/
  margin-right: 0;
  /*margin-left: 35px;*/

}
.container {
  margin-bottom: 20px;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #F9F9F9;
  font-family: 'Raleway', sans-serif;
}

.portfolio-body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.contact {
  width: 60%;
  padding-top: 30px;
  padding-bottom: 35px;
  margin: 0 auto;
}

.secondary-nav {
  height: 75px;
  border-top: 1px #E1E1E1 solid;
}

.contact a {
  text-transform: lowercase;
}

h4 {
  margin-right: auto;
  padding: 10px;
  display: inline-block;
  float: left;
  font-size: 20px;
}

.footer-link {
  padding: 10px;
  display: inline-block;
  float: right;
}

.footer-list {
  display: none;
}



/*******************************************
Pseudo Class Selectors
*******************************************/

a:link {color: black;}
a:visited {color: grey;}
a:hover {color: blue;}

/*******************************************
Clearfix Float
*******************************************/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************************
Media Queries
*******************************************/

@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
    margin: 0 auto;
  }

  .main-header {
    margin-left: 20px;
    margin-right: 20px;
    /*margin; 1%;
    padding: 1%;*/
  }

  .banner-top li {
    padding-left: 10px;
    margin: 0;
    background-color: inherit;

  }

  .main-nav li {
    display: inline-block;
  }
  .profile-image {
    float: right;
    margin-left: 35px;
    max-width: 300px;
  }

  .intro p {
    text-align:left;
  }

  /*.project-container {
    margin: 50px;
  }*/

  .projects {
    float: left;
    width: 50%;
    padding-left: 10px;
  }

  .footer-link {
    display: none;
  }

  .footer-list,
  .footer-list li {
    display: inline-block;
    float: right;
    background-color: inherit;
  }

}
@media (min-width: 1024px) {

  .container {
    max-width: 1025px;
  }

  .main-nav {
    /*margin-bottom: 30px;*/
  }

  .main-nav li {
    float: right;
  }

   .name,
   .main-nav li {
    display: inline-block;
  }
  .profile-image {
    float: right;
    margin-left: 35px;
    max-width: 400px;
  }

  .name {
    float: left;
  }

  /*ul {
    float: right;
  }*/

  .projects {
    float: left;
    width: 33.3%;

  }
  .contact {
    /*width: 60%;*/
    margin: 0 auto;
  }
}
