
/*******************************************
Element Selectors
*******************************************/

* {
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

h3  {
  font-size: 20px;
}

h4 {
  display: inline-block;
  float: left;
  font-size: 18px;
  margin-left: 15px;
}

p {
  line-height: 1.5;
  font-size: 17px;

}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

li {
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
  background-color: #09270E;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

footer {
  padding-top: 40px;
}

/*******************************************
Descendant Selectors
*******************************************/

h1,
h2,
h3,
h4,
li {
  font-family: 'Freckle Face', cursive;
}

h1,
h2,
h4,
p {
  color: #FFE734;
}

h2,
a {
  text-transform: uppercase;
}

/*******************************************
Class Selectors
*******************************************/

.main-header {
  margin-bottom: 50px;

  overflow: auto;
}

.main-header p {
  padding-left: 15px;
  padding-right: 10px;
}

.banner-top {
  margin-top: 20px;
}

.name {
  margin-top: 0;
  margin-left: 15px;
}

.main-nav {
}

.profile-image {
  max-width: 70%;
  border-width: 5px;
  border-style: solid;
  border-color: #FFE734;
  border-radius: 15px;
  margin-right: 15px;
  /*margin-right: 0;*/
}

.container {
  margin-bottom: 10px;
  text-align: center;
  /*padding-right: 1em;
  padding-left: 1em;*/
  /*background-color: #DEDC59;*/
  background-image: url("../img/black_jungle.jpg");
  font-family: 'Raleway', sans-serif;
}

.portfolio-body {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FBFBA1;
  padding-bottom: 40px;
}

.portfolio-body h2 {
  color: #452F2B;
  padding-bottom: 35px;
}

.portfoio-body, h3 {
  color: #452F2B;
}

.portfolio-body p {
  color: #452F2B;
}

.projects {
  padding-right: 7px;
  padding-left: 7px;
}
.projects p {
  padding-left: 10px;
  padding-right: 10px;
}

.skills-body {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FBFBA1;
  padding-bottom: 40px;
  margin-top: 70px;
}

.skills-body h2 {
  color: #452F2B;
  padding-bottom: 35px;
}

.skills-body, h3 {
  color: #452F2B;
}

.skills-body p {
  color: #452F2B;
}

.skills {
  padding-right: 7px;
  padding-left: 7px;
}

.skills p {
  padding-left: 10px;
  padding-right: 10px;
}

.contact {
  width: 60%;
  padding-top: 30px;
  padding-bottom: 35px;
  margin: 0 auto;
}

.secondary-nav {
  height: 80px;
  border-top: 1px #E1E1E1 solid;
  margin-top: 40px;
}

.contact a {
  text-transform: lowercase;
}

.contact h2 {
  padding-bottom: 15px;
}



.footer-link {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top:15px;
  margin-right: 15px;
  /*margin-bottom: 15px;*/
  display: inline-block;
  float: right;
}

.footer-list {
  display: none;
  padding-right: 5px;
}

/*******************************************
Pseudo Class Selectors
*******************************************/

a:link {color: #FFE734;}
a:visited {color: #FBFBA1;}
a:hover {color: #78F8FD;}

/*******************************************
Clearfix Float
*******************************************/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*******************************************
Media Queries
*******************************************/

@media (min-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
    margin: 0 auto;
  }

  .main-header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .banner-top li {
    padding-left: 10px;
    margin: 0;
    background-color: inherit;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 15px;
    /*color: #FFE734;*/
  }

  .main-nav a {

  }

  .profile-image {
    margin-left: 35px;
    max-width: 300px;
  }

  .intro img {
    float: right;
  }

  .intro p {
    text-align:left;
  }

  .projects {
    float: left;
    width: 50%;
    margin-bottom: 30px;
  }

  .skills {
    float: left;
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-link {
    display: none;
  }

  .contact {
    width: 60%;
    margin: 0 auto;
  }

  .footer-list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-list li {
    font-size: 15px;
  }

  .footer-list,
  .footer-list li {
    display: inline-block;
    float: right;
    background-color: inherit;
  }

}
@media (min-width: 1024px) {

  .container {
    max-width: 1050px;
  }

  .main-header {
    margin-left: 25px;
    margin-right: 25px;
  }

  .main-nav li {
    float: right;
  }



   .name,
   .main-nav li {
    display: inline-block;
  }
  .profile-image {
    float: right;
    margin-left: 35px;
    max-width: 400px;
  }

  .name {
    float: left;
  }

  .portfolio-body {
    margin-right: 20px;
    margin-left: 20px;
  }

  .skills-body {
    margin-right: 20px;
    margin-left: 20px;
  }

  .projects {
    float: left;
    width: 33.3%;
  }

  .skills {
    float: left;
    width: 33.3%;
  }

}
